<div class='container'>
    <br/>
    <my-panel>
        <my-panel-title>
            <em>Todo-List</em>
        </my-panel-title>
        <my-panel-content>
            <p>A list of your current Todos:</p>
            <ul class='list-group'>
                <li *ngFor='let todo of todos' [ngClass]='{"list-group-item": true, 
                "list-group-item-success": todo.urgency == "low",
                "list-group-item-danger": todo.urgency == "high"}' [style.font-weight]='todo.urgency == "high" ? "bold": "normal"'>
                    {{ todo.title }} ||
                    <strong>Priority:</strong> {{ todo.urgency }}
                </li>
            </ul>
        </my-panel-content>
    </my-panel>
    <my-todo-add (onTodoAdd)='todos.push($event)'></my-todo-add>
</div>